/* Estilos personalizados para Hotel AMANKAY */

body {
  
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('../img/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;

}

.card {
  border-radius: 12px;
}

.card-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
html, body {
  height: 100%;
}